.kharif-container{
    padding:40px;
}

/* Page Heading */
.page-title{
    text-align:center;
    font-size:32px;
    margin-bottom:10px;
}

/* Season Info */
.season-info{
    text-align:center;
    font-size:16px;
    margin-bottom:35px;
    color:#555;
}

/* Crop Grid */
.crop-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap:25px;
}

/* Crop Card */
.crop-card{
    padding:30px 15px;
    text-align:center;
    border:1px solid #ccc;
    border-radius:12px;
    background:#f9f9f9;
    font-weight:bold;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

/* Hover Effect */
.crop-card:hover{
    background:#4caf50;
    color:white;
    transform:translateY(-6px);
}

/* Illegal Crop */
.illegal{
    border:2px dashed red;
    color:red;
    background:#fff0f0;
}

.illegal:hover{
    background:red;
    color:white;
}
